{% if total > 1 %}
    <div class="text-center">
        <ul class="pagination pagination-sm">
            {% if current != 1 %}
            <li>
                <a href="?page={{ current - 1 }}">«</a>
            </li>
            {% endif %}

            {% for i in 1..total %}
                <li {{ current == i ? 'class="active"' }}>
                    <a href="?page={{ i }}">{{ i }}</a>
                </li>
            {% endfor %}

            {% if current != total %}
            <li>
                <a href="?page={{ current + 1 }}">»</a>
            </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
