{% extends 'admin.html.twig' %}

{% block body %}
    <h2>Opis zgłoszenia</h2>
        {{ ticket.description }}
    <h2>Komentarze</h2>

    <table id="datatable" class="table table-striped">
        <thead>
            <tr class="headings">
                <th class="column-title">Created at</th>
                <th class="column-title">Description</th>
                <th class="column-title"></th>
            </tr>
        </thead>
        <tbody>
                {% for comment in comments %}
                    <tr>
                        <td>{{ comment.created|date("d-m-Y") }}</td>
                        <td>{{ comment.description|e }}</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_widget(form.description, {'attr': {'placeholder': 'Wpisz komentarz', 'class': 'form-control', 'row': '5'}}) }}
            {{ form_errors(form.description, {'attr': {'class': 'alert alert-info', 'role': 'alert'}}) }}
        </div>
        <div>
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': 'Dodaj komentarz' }) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
{% block javascripts %}

{% endblock %}
