{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Zgłoszenia</h1>

    <table id="tickets-list" class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th class="column-title">Czas utworzenia</th>
                <th class="column-title">Kategoria</th>
                <th class="column-title">Opis</th>
                <th class="column-title">Status</th>
                <th class="column-title">Liczba komentarzy</th>
                <th class="column-title"></th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr id="ticket-{{ ticket.getId() }}">
                <td>{{ ticket.getCreated()|date("d-m-Y H:i") }}</td>
                <td>{{ ticket.getCategoryName() }}</td>
                <td>{{ ticket.getDescription() }}</td>
                <td>{{ ticket.getStatusName() }}</td>
                <td><a href="{{ path('adminComments', {'id': ticket.getId()}) }}" class="btn btn-round btn-info">
                        {{ ticket.getComments().count() }}
                    </a></td>
                <td>
                {% if ticket.isActive() %}
                    <a class="btn btn-round btn-danger" href="{{ path('adminCancelTicket', {'ticketId': ticket.getId()}) }}">
                        zamknij
                    </a>
                    {% if ticket.isWaiting() %}
                        <a class="btn btn-round btn-success" href="{{ path('adminStartProgressOnTicket', {'ticketId': ticket.getId()}) }}">
                            rozpocznij
                        </a>
                    {% else %}
                        <a class="btn btn-round btn-success" href="{{ path('adminCloseTicket', {'ticketId': ticket.getId()}) }}">
                            zakończ
                        </a>
                    {% endif %}
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
{% block javascripts %}
    <script src="{{ asset('admin/js/jquery.datatables.min.js') }}"></script>
{% endblock %}
