{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Szczegóły zgłoszenia</h1>
    <div class="panel panel-default">
        <div class="panel-heading">Informacje ogólne</div>
        <div class="panel-body">
            <p>
                <strong>Numer zgłoszenia: </strong> #{{ ticket.getId() }}
            </p>
            <p>
                <strong>Category:</strong> {{ ticket.getCategoryName() }}
            </p>
            <p>
                <strong>Aktualny status:</strong> {{ ticket.getStatusName() }}
            </p>
            <p>
                <strong>Opis:</strong> {{ ticket.getDescription() }}
            </p>
            {% if ticket.getAttachments().count() > 0 %}
            <p>
                <strong>Zdjęcie:</strong> <br />
                <img src="{{ asset(ticket.getAttachments()[0].getFullPath()) }}" class="img-responsive" style="max-width: 300px;">
            </p>
            {% endif %}
        </div>
    </div>
{% endblock %}
